# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.iml

# IDEs
.idea/
*.ipr
*.iws
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/

# Android
/android/app/debug
/android/app/profile
/android/app/release
/local.properties
/*.keystore

# iOS
ios/Flutter/.last_build_id
Pods/
Runner.xcworkspace/
DerivedData/
*.xcuserstate
*.xcconfig
*.xcodeproj/project.xcworkspace/

# Web
web/manifest.json
web/favicon.png

# Obfuscation/Symbolication
app.*.map.json
app.*.symbols

# Version control
.svn/
.history/
.migrate_working_dir/

# Others
.atom/
.buildlog/
